$colorDark: #3a3d4e;
$colorLight: #f7f9f5;
$colorPrimary: #e46d5f;
$colorSecondary: #ece5d9;

:export {
  colorDark: $colorDark;
  colorLight: $colorLight;
  colorPrimary: $colorPrimary;
  colorSecondary: $colorSecondary;
}
